/* Mobile First */

header {
	color: #ffffff;
	background-color: #00684e;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 0.5rem;
}

nav a:hover {
	background-color: #007f5d;
}

.avatar {
	height: 3rem;
	border-radius: 50%;
	margin-bottom: 0.3rem;
}

/* container classes */

/* flex box with horizontally and vertically centered items */
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-box {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  text-align: center;
}

.project-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	padding: 2rem 0.5rem;
}

/* text classes */
.light-text {
	color: white;
}

.justify {
	text-align: justify;
}

.project-title {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 1000;
	margin-bottom: 0.5rem;
}

.project-description {
	text-align: justify;
	margin-bottom: 0.5rem;
}

.project-skills {
	color: #555555;
	font-size: 0.8rem;
}

/* image classes */
.img-project {
  margin-top: 0.5rem;
  max-height:200px;
	border: 1px solid #bbbbbb;
}

/* margin-helpers */
.mb-0 {
	margin-bottom: 0.5rem;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}

.mx-1 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* color helpers */
.bg-green {
	background-color: #00684e;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	/* first breakpoint */
	.hero-content {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.project-box {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.portfolio-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
